svg {
  height: 1em;
  min-width: 1em;
}
ul.dirs,
ul.drives {
  padding-left: 0px;
}
ul.dirs > li,
ul.drives > li {
  list-style: none;
}
ul.dirs > li > span > svg,
ul.drives > li > span > svg {
  padding-right: 4px;
}
ul.dirs > li > ul.dirs,
ul.drives > li > ul.dirs {
  padding-left: 20px;
}
.octicon-file-directory {
  fill: #888844;
}
.octicon-circle-slash {
  fill: #AA2222;
}
